In [1]:
!pip install bs4
!pip install requests
!pip install html5lib

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1279 sha256=5174cc8ce7c424797ca6757fd9290396efe5edddc2781bf92558261174f3a16c
  Stored in directory: c:\users\karthik\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: html5lib in c:\programdata\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.15.0)

In [650]:
!pip install requests_html

Collecting requests_html
  Downloading requests_html-0.10.0-py3-none-any.whl (13 kB)
Collecting w3lib
  Downloading w3lib-1.22.0-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (from requests_html) (0.0.1)
Collecting pyppeteer>=0.0.14
  Downloading pyppeteer-0.2.5-py3-none-any.whl (87 kB)
Collecting fake-useragent
  Downloading fake-useragent-0.1.11.tar.gz (13 kB)
Collecting parse
  Downloading parse-1.19.0.tar.gz (30 kB)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from requests_html) (2.24.0)
Collecting pyquery
  Downloading pyquery-1.4.3-py3-none-any.whl (22 kB)
Requirement already satisfied: six>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from w3lib->requests_html) (1.15.0)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4->requests_html) (4.9.1)
Collecting websockets<9.0,>=8.1
  Downloading websockets-8.1-cp38-cp38-win_amd64.whl (66 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\karthik\appdata\roaming\python\python38\site-packages (from pyppeteer>=0.0.14->requests_html) (4.56.0)
Collecting appdirs<2.0.0,>=1.4.3
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in c:\programdata\anaconda3\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (1.25.9)
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.1.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->requests_html) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->requests_html) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->requests_html) (2.10)
Requirement already satisfied: lxml>=2.1 in c:\programdata\anaconda3\lib\site-packages (from pyquery->requests_html) (4.5.2)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4->requests_html) (2.0.1)
Building wheels for collected packages: fake-useragent, parse
  Building wheel for fake-useragent (setup.py): started
  Building wheel for fake-useragent (setup.py): finished with status 'done'
  Created wheel for fake-useragent: filename=fake_useragent-0.1.11-py3-none-any.whl size=13489 sha256=ec7191d23c8ad4b0949b8d98e50ae21ee3af28205457793eca9558c59ad99e3c
  Stored in directory: c:\users\karthik\appdata\local\pip\cache\wheels\a0\b8\b7\8c942b2c5be5158b874a88195116b05ad124bac795f6665e65
  Building wheel for parse (setup.py): started
  Building wheel for parse (setup.py): finished with status 'done'
  Created wheel for parse: filename=parse-1.19.0-py3-none-any.whl size=24585 sha256=896c24186c971eafcc04f16dad0bff595383fc42ed97f1259bbe7c70c8f7a63a
  Stored in directory: c:\users\karthik\appdata\local\pip\cache\wheels\e5\33\1f\68392720485b3ecf125a69e700baaab7624616deedea2fa6e2
Successfully built fake-useragent parse
Installing collected packages: w3lib, websockets, appdirs, pyee, pyppeteer, fake-useragent, parse, cssselect, pyquery, requests-html
Successfully installed appdirs-1.4.4 cssselect-1.1.0 fake-useragent-0.1.11 parse-1.19.0 pyee-8.1.0 pyppeteer-0.2.5 pyquery-1.4.3 requests-html-0.10.0 w3lib-1.22.0 websockets-8.1

In [6]:
import requests 
from bs4 import BeautifulSoup

In [14]:
import pandas as pd

In [1110]:
url="https://en.wikipedia.org/wiki/Main_Page"

In [1172]:
headers = requests.get(url).headers
print(headers)

{'Date': 'Sun, 21 Mar 2021 15:44:41 GMT', 'Server': 'mw1324.eqiad.wmnet', 'X-Content-Type-Options': 'nosniff', 'P3p': 'CP="See https://en.wikipedia.org/wiki/Special:CentralAutoLogin/P3P for more info."', 'Content-Language': 'en', 'Vary': 'Accept-Encoding,Cookie,Authorization', 'X-Request-Id': '55cdb8b5-3761-43b5-9e24-3dce8dc4b9f5', 'Last-Modified': 'Sun, 21 Mar 2021 15:44:39 GMT', 'Content-Type': 'text/html; charset=UTF-8', 'Content-Encoding': 'gzip', 'Age': '1443', 'X-Cache': 'cp5009 miss, cp5007 hit/6735', 'X-Cache-Status': 'hit-front', 'Server-Timing': 'cache;desc="hit-front"', 'Strict-Transport-Security': 'max-age=106384710; includeSubDomains; preload', 'Report-To': '{ "group": "wm_nel", "max_age": 86400, "endpoints": [{ "url": "https://intake-logging.wikimedia.org/v1/events?stream=w3c.reportingapi.network_error&schema_uri=/w3c/reportingapi/network_error/1.0.0" }] }', 'NEL': '{ "report_to": "wm_nel", "max_age": 86400, "failure_fraction": 0.05, "success_fraction": 0.0}', 'Set-Cookie': 'WMF-Last-Access=21-Mar-2021;Path=/;HttpOnly;secure;Expires=Thu, 22 Apr 2021 12:00:00 GMT, WMF-Last-Access-Global=21-Mar-2021;Path=/;Domain=.wikipedia.org;HttpOnly;secure;Expires=Thu, 22 Apr 2021 12:00:00 GMT, GeoIP=IN:TG:Hyderabad:17.38:78.47:v4; Path=/; secure; Domain=.wikipedia.org', 'X-Client-IP': '2405:201:c012:b002:a560:4812:ff06:b783', 'Cache-Control': 'private, s-maxage=0, max-age=0, must-revalidate', 'Accept-Ranges': 'bytes', 'Content-Length': '18989', 'Connection': 'keep-alive'}

In [1112]:
print(res)

<Response [200]>

# IMDB Ratings Top 100 Movies

In [164]:
url="https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating"

In [165]:
res=requests.get(url)
print(res)

<Response [200]>

In [166]:
soup=BeautifulSoup(res.content,'html.parser')

In [167]:
soup.title.text

'IMDb "Top 1000"\n(Sorted by IMDb Rating Descending) - IMDb'

In [168]:
soup.get_text()

'\n\n\n\n\n\n\n\n\n\nIMDb "Top 1000"\n(Sorted by IMDb Rating Descending) - IMDb\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n\n\n\n\n\n\n\nMenuMoviesRelease CalendarDVD & Blu-ray ReleasesTop Rated MoviesMost Popular MoviesBrowse Movies by GenreTop Box OfficeShowtimes & TicketsShowtimes & TicketsIn TheatersComing SoonComing SoonMovie NewsIndia Movie SpotlightTV ShowsWhat\'s on TV & StreamingWhat\'s on TV & StreamingTop Rated ShowsMost Popular ShowsBrowse TV Shows by GenreTV NewsIndia TV SpotlightWatchWhat to WatchLatest TrailersIMDb OriginalsIMDb PicksIMDb PodcastsAwards & EventsOscarsBest Picture WinnersBest Picture WinnersGolden GlobesEmmysWomen\'s History MonthSTARmeter AwardsSan Diego Comic-ConNew York Comic-ConSundance Film FestivalToronto Int\'l Film FestivalAwards CentralFestival CentralAll EventsCelebsBorn TodayMost Popular CelebsMost Popular CelebsCelebrity NewsCommunityHelp CenterContributor ZonePollsFor Industry ProfessionalsAllAllTitlesTV EpisodesCelebsCompaniesKeywordsAdvanced SearchWatchlistSign In\n\n \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nIMDb "Top 1000"\n(Sorted by IMDb Rating Descending) \n\n\n\n        View Mode:\n Compact\n | Detailed\n \n\n1-100 of 1,000 titles.\n| Next »\n\n\n\n\n       Sort by:\n           Popularity\n| A-Z\n| User Rating▼\n| Number of Votes\n| US Box Office\n| Runtime\n| Year\n| Release Date\n| Date of Your Rating\n| Your Rating\n\n\n\n\n\n\n\n\n\n \n \n\n\n1.\nThe Shawshank Redemption\n(1994)\n\n\nA\n|\n142 min\n|\n\nDrama            \n\n\n\n\n9.3\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n9.3/10\nX\n\xa0\n\n\n\n80        \n        Metascore\n            \n\n\n    Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.\n\n    Director:\nFrank Darabont\n| \n    Stars:\nTim Robbins, \nMorgan Freeman, \nBob Gunton, \nWilliam Sadler\n\n\nVotes:\n2,363,582\n| Gross:\n$28.34M\n\n\n\n\n\n\n\n\n \n \n\n\n2.\nThe Godfather\n(1972)\n\n\nA\n|\n175 min\n|\n\nCrime, Drama            \n\n\n\n\n9.2\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n9.2/10\nX\n\xa0\n\n\n\n100        \n        Metascore\n            \n\n\n    An organized crime dynasty\'s aging patriarch transfers control of his clandestine empire to his reluctant son.\n\n    Director:\nFrancis Ford Coppola\n| \n    Stars:\nMarlon Brando, \nAl Pacino, \nJames Caan, \nDiane Keaton\n\n\nVotes:\n1,636,238\n| Gross:\n$134.97M\n\n\n\n\n\n\n\n\n \n \n\n\n3.\nThe Dark Knight\n(2008)\n\n\nUA\n|\n152 min\n|\n\nAction, Crime, Drama            \n\n\n\n\n9.0\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n9/10\nX\n\xa0\n\n\n\n84        \n        Metascore\n            \n\n\n    When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.\n\n    Director:\nChristopher Nolan\n| \n    Stars:\nChristian Bale, \nHeath Ledger, \nAaron Eckhart, \nMichael Caine\n\n\nVotes:\n2,322,944\n| Gross:\n$534.86M\n\n\n\n\n\n\n\n\n \n \n\n\n4.\nThe Godfather: Part II\n(1974)\n\n\nA\n|\n202 min\n|\n\nCrime, Drama            \n\n\n\n\n9.0\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n9/10\nX\n\xa0\n\n\n\n90        \n        Metascore\n            \n\n\n    The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.\n\n    Director:\nFrancis Ford Coppola\n| \n    Stars:\nAl Pacino, \nRobert De Niro, \nRobert Duvall, \nDiane Keaton\n\n\nVotes:\n1,139,979\n| Gross:\n$57.30M\n\n\n\n\n\n\n\n\n \n \n\n\n5.\n12 Angry Men\n(1957)\n\n\nU\n|\n96 min\n|\n\nCrime, Drama            \n\n\n\n\n9.0\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n9/10\nX\n\xa0\n\n\n\n96        \n        Metascore\n            \n\n\n    A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.\n\n    Director:\nSidney Lumet\n| \n    Stars:\nHenry Fonda, \nLee J. Cobb, \nMartin Balsam, \nJohn Fiedler\n\n\nVotes:\n697,116\n| Gross:\n$4.36M\n\n\n\n\n\n\n\n\n \n \n\n\n6.\nThe Lord of the Rings: The Return of the King\n(2003)\n\n\nU\n|\n201 min\n|\n\nAction, Adventure, Drama            \n\n\n\n\n8.9\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.9/10\nX\n\xa0\n\n\n\n94        \n        Metascore\n            \n\n\n    Gandalf and Aragorn lead the World of Men against Sauron\'s army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.\n\n    Director:\nPeter Jackson\n| \n    Stars:\nElijah Wood, \nViggo Mortensen, \nIan McKellen, \nOrlando Bloom\n\n\nVotes:\n1,655,159\n| Gross:\n$377.85M\n\n\n\n\n\n\n\n\n \n \n\n\n7.\nPulp Fiction\n(1994)\n\n\nA\n|\n154 min\n|\n\nCrime, Drama            \n\n\n\n\n8.9\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.9/10\nX\n\xa0\n\n\n\n94        \n        Metascore\n            \n\n\n    The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.\n\n    Director:\nQuentin Tarantino\n| \n    Stars:\nJohn Travolta, \nUma Thurman, \nSamuel L. Jackson, \nBruce Willis\n\n\nVotes:\n1,841,910\n| Gross:\n$107.93M\n\n\n\n\n\n\n\n\n \n \n\n\n8.\nSchindler\'s List\n(1993)\n\n\nA\n|\n195 min\n|\n\nBiography, Drama, History            \n\n\n\n\n8.9\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.9/10\nX\n\xa0\n\n\n\n94        \n        Metascore\n            \n\n\n    In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.\n\n    Director:\nSteven Spielberg\n| \n    Stars:\nLiam Neeson, \nRalph Fiennes, \nBen Kingsley, \nCaroline Goodall\n\n\nVotes:\n1,222,751\n| Gross:\n$96.90M\n\n\n\n\n\n\n\n\n \n \n\n\n9.\nInception\n(2010)\n\n\nUA\n|\n148 min\n|\n\nAction, Adventure, Sci-Fi            \n\n\n\n\n8.8\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.8/10\nX\n\xa0\n\n\n\n74        \n        Metascore\n            \n\n\n    A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.\n\n    Director:\nChristopher Nolan\n| \n    Stars:\nLeonardo DiCaprio, \nJoseph Gordon-Levitt, \nElliot Page, \nKen Watanabe\n\n\nVotes:\n2,086,614\n| Gross:\n$292.58M\n\n\n\n\n\n\n\n\n \n \n\n\n10.\nFight Club\n(1999)\n\n\nA\n|\n139 min\n|\n\nDrama            \n\n\n\n\n8.8\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.8/10\nX\n\xa0\n\n\n\n66        \n        Metascore\n            \n\n\n    An insomniac office worker and a devil-may-care soapmaker form an underground fight club that evolves into something much, much more.\n\n    Director:\nDavid Fincher\n| \n    Stars:\nBrad Pitt, \nEdward Norton, \nMeat Loaf, \nZach Grenier\n\n\nVotes:\n1,870,751\n| Gross:\n$37.03M\n\n\n\n\n\n\n\n\n \n \n\n\n11.\nThe Lord of the Rings: The Fellowship of the Ring\n(2001)\n\n\nU\n|\n178 min\n|\n\nAction, Adventure, Drama            \n\n\n\n\n8.8\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.8/10\nX\n\xa0\n\n\n\n92        \n        Metascore\n            \n\n\n    A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.\n\n    Director:\nPeter Jackson\n| \n    Stars:\nElijah Wood, \nIan McKellen, \nOrlando Bloom, \nSean Bean\n\n\nVotes:\n1,674,850\n| Gross:\n$315.54M\n\n\n\n\n\n\n\n\n \n \n\n\n12.\nForrest Gump\n(1994)\n\n\nUA\n|\n142 min\n|\n\nDrama, Romance            \n\n\n\n\n8.8\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.8/10\nX\n\xa0\n\n\n\n82        \n        Metascore\n            \n\n\n    The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart.\n\n    Director:\nRobert Zemeckis\n| \n    Stars:\nTom Hanks, \nRobin Wright, \nGary Sinise, \nSally Field\n\n\nVotes:\n1,826,991\n| Gross:\n$330.25M\n\n\n\n\n\n\n\n\n \n \n\n\n13.\nIl buono, il brutto, il cattivo\n(1966)\n\n\nA\n|\n161 min\n|\n\nWestern            \n\n\n\n\n8.8\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.8/10\nX\n\xa0\n\n\n\n90        \n        Metascore\n            \n\n\n    A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.\n\n    Director:\nSergio Leone\n| \n    Stars:\nClint Eastwood, \nEli Wallach, \nLee Van Cleef, \nAldo Giuffrè\n\n\nVotes:\n693,618\n| Gross:\n$6.10M\n\n\n\n\n\n\n\n\n \n \n\n\n14.\nThe Lord of the Rings: The Two Towers\n(2002)\n\n\nUA\n|\n179 min\n|\n\nAction, Adventure, Drama            \n\n\n\n\n8.7\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.7/10\nX\n\xa0\n\n\n\n87        \n        Metascore\n            \n\n\n    While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron\'s new ally, Saruman, and his hordes of Isengard.\n\n    Director:\nPeter Jackson\n| \n    Stars:\nElijah Wood, \nIan McKellen, \nViggo Mortensen, \nOrlando Bloom\n\n\nVotes:\n1,496,871\n| Gross:\n$342.55M\n\n\n\n\n\n\n\n\n \n \n\n\n15.\nThe Matrix\n(1999)\n\n\nA\n|\n136 min\n|\n\nAction, Sci-Fi            \n\n\n\n\n8.7\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.7/10\nX\n\xa0\n\n\n\n73        \n        Metascore\n            \n\n\n    When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.\n\n    Directors:\nLana Wachowski, \nLilly Wachowski\n| \n    Stars:\nKeanu Reeves, \nLaurence Fishburne, \nCarrie-Anne Moss, \nHugo Weaving\n\n\nVotes:\n1,690,952\n| Gross:\n$171.48M\n\n\n\n\n\n\n\n\n \n \n\n\n16.\nGoodfellas\n(1990)\n\n\nA\n|\n146 min\n|\n\nBiography, Crime, Drama            \n\n\n\n\n8.7\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.7/10\nX\n\xa0\n\n\n\n90        \n        Metascore\n            \n\n\n    The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.\n\n    Director:\nMartin Scorsese\n| \n    Stars:\nRobert De Niro, \nRay Liotta, \nJoe Pesci, \nLorraine Bracco\n\n\nVotes:\n1,030,501\n| Gross:\n$46.84M\n\n\n\n\n\n\n\n\n \n \n\n\n17.\nStar Wars: Episode V - The Empire Strikes Back\n(1980)\n\n\nUA\n|\n124 min\n|\n\nAction, Adventure, Fantasy            \n\n\n\n\n8.7\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.7/10\nX\n\xa0\n\n\n\n82        \n        Metascore\n            \n\n\n    After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued by Darth Vader and a bounty hunter named Boba Fett all over the galaxy.\n\n    Director:\nIrvin Kershner\n| \n    Stars:\nMark Hamill, \nHarrison Ford, \nCarrie Fisher, \nBilly Dee Williams\n\n\nVotes:\n1,167,799\n| Gross:\n$290.48M\n\n\n\n\n\n\n\n\n \n \n\n\n18.\nOne Flew Over the Cuckoo\'s Nest\n(1975)\n\n\nA\n|\n133 min\n|\n\nDrama            \n\n\n\n\n8.7\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.7/10\nX\n\xa0\n\n\n\n83        \n        Metascore\n            \n\n\n    A criminal pleads insanity and is admitted to a mental institution, where he rebels against the oppressive nurse and rallies up the scared patients.\n\n    Director:\nMilos Forman\n| \n    Stars:\nJack Nicholson, \nLouise Fletcher, \nMichael Berryman, \nPeter Brocco\n\n\nVotes:\n924,837\n| Gross:\n$112.00M\n\n\n\n\n\n\n\n\n \n \n\n\n19.\nGisaengchung\n(2019)\n\n\nA\n|\n132 min\n|\n\nComedy, Drama, Thriller            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n96        \n        Metascore\n            \n\n\n    Greed and class discrimination threaten the newly formed symbiotic relationship between the wealthy Park family and the destitute Kim clan.\n\n    Director:\nBong Joon Ho\n| \n    Stars:\nKang-ho Song, \nLee Sun-kyun, \nCho Yeo-jeong, \nChoi Woo-sik\n\n\nVotes:\n576,639\n| Gross:\n$53.37M\n\n\n\n\n\n\n\n\n \n \n\n\n20.\nZack Snyder\'s Justice League\n(2021)\n\n\n18\n|\n242 min\n|\n\nAction, Adventure, Fantasy            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n55        \n        Metascore\n            \n\n\n    Zack Snyder\'s definitive director\'s cut of Justice League. Determined to ensure Superman\'s ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.\n\n    Director:\nZack Snyder\n| \n    Stars:\nHenry Cavill, \nBen Affleck, \nGal Gadot, \nAmy Adams\n\n\nVotes:\n47,325\n\n\n\n\n\n\n\n\n \n \n\n\n21.\nSoorarai Pottru\n(2020)\n\n\nU\n|\n153 min\n|\n\nDrama            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n\n    Nedumaaran Rajangam "Maara" sets out to make the common man fly and in the process takes on the world\'s most capital intensive industry and several enemies who stand in his way.\n\n    Director:\nSudha Kongara\n| \n    Stars:\nSuriya, \nMadhavan, \nParesh Rawal, \nAparna Balamurali\n\n\nVotes:\n56,658\n\n\n\n\n\n\n\n\n \n \n\n\n22.\nInterstellar\n(2014)\n\n\nUA\n|\n169 min\n|\n\nAdventure, Drama, Sci-Fi            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n74        \n        Metascore\n            \n\n\n    A team of explorers travel through a wormhole in space in an attempt to ensure humanity\'s survival.\n\n    Director:\nChristopher Nolan\n| \n    Stars:\nMatthew McConaughey, \nAnne Hathaway, \nJessica Chastain, \nMackenzie Foy\n\n\nVotes:\n1,531,065\n| Gross:\n$188.02M\n\n\n\n\n\n\n\n\n \n \n\n\n23.\nCidade de Deus\n(2002)\n\n\nA\n|\n130 min\n|\n\nCrime, Drama            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n79        \n        Metascore\n            \n\n\n    In the slums of Rio, two kids\' paths diverge as one struggles to become a photographer and the other a kingpin.\n\n    Directors:\nFernando Meirelles, \nKátia Lund\n| \n    Stars:\nAlexandre Rodrigues, \nLeandro Firmino, \nMatheus Nachtergaele, \nPhellipe Haagensen\n\n\nVotes:\n703,674\n| Gross:\n$7.56M\n\n\n\n\n\n\n\n\n \n \n\n\n24.\nSen to Chihiro no kamikakushi\n(2001)\n\n\nU\n|\n125 min\n|\n\nAnimation, Adventure, Family            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n96        \n        Metascore\n            \n\n\n    During her family\'s move to the suburbs, a sullen 10-year-old girl wanders into a world ruled by gods, witches, and spirits, and where humans are changed into beasts.\n\n    Director:\nHayao Miyazaki\n| \n    Stars:\nDaveigh Chase, \nSuzanne Pleshette, \nMiyu Irino, \nRumi Hiiragi\n\n\nVotes:\n659,675\n| Gross:\n$10.06M\n\n\n\n\n\n\n\n\n \n \n\n\n25.\nSaving Private Ryan\n(1998)\n\n\n15+\n|\n169 min\n|\n\nDrama, War            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n91        \n        Metascore\n            \n\n\n    Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action.\n\n    Director:\nSteven Spielberg\n| \n    Stars:\nTom Hanks, \nMatt Damon, \nTom Sizemore, \nEdward Burns\n\n\nVotes:\n1,246,139\n| Gross:\n$216.54M\n\n\n\n\n\n\n\n\n \n \n\n\n26.\nThe Green Mile\n(1999)\n\n\nUA\n|\n189 min\n|\n\nCrime, Drama, Fantasy            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n61        \n        Metascore\n            \n\n\n    The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift.\n\n    Director:\nFrank Darabont\n| \n    Stars:\nTom Hanks, \nMichael Clarke Duncan, \nDavid Morse, \nBonnie Hunt\n\n\nVotes:\n1,159,057\n| Gross:\n$136.80M\n\n\n\n\n\n\n\n\n \n \n\n\n27.\nLa vita è bella\n(1997)\n\n\nU\n|\n116 min\n|\n\nComedy, Drama, Romance            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n59        \n        Metascore\n            \n\n\n    When an open-minded Jewish librarian and his son become victims of the Holocaust, he uses a perfect mixture of will, humor, and imagination to protect his son from the dangers around their camp.\n\n    Director:\nRoberto Benigni\n| \n    Stars:\nRoberto Benigni, \nNicoletta Braschi, \nGiorgio Cantarini, \nGiustino Durano\n\n\nVotes:\n629,359\n| Gross:\n$57.60M\n\n\n\n\n\n\n\n\n \n \n\n\n28.\nSe7en\n(1995)\n\n\nA\n|\n127 min\n|\n\nCrime, Drama, Mystery            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n65        \n        Metascore\n            \n\n\n    Two detectives, a rookie and a veteran, hunt a serial killer who uses the seven deadly sins as his motives.\n\n    Director:\nDavid Fincher\n| \n    Stars:\nMorgan Freeman, \nBrad Pitt, \nKevin Spacey, \nAndrew Kevin Walker\n\n\nVotes:\n1,459,146\n| Gross:\n$100.13M\n\n\n\n\n\n\n\n\n \n \n\n\n29.\nThe Silence of the Lambs\n(1991)\n\n\nA\n|\n118 min\n|\n\nCrime, Drama, Thriller            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n85        \n        Metascore\n            \n\n\n    A young F.B.I. cadet must receive the help of an incarcerated and manipulative cannibal killer to help catch another serial killer, a madman who skins his victims.\n\n    Director:\nJonathan Demme\n| \n    Stars:\nJodie Foster, \nAnthony Hopkins, \nLawrence A. Bonney, \nKasi Lemmons\n\n\nVotes:\n1,283,223\n| Gross:\n$130.74M\n\n\n\n\n\n\n\n\n \n \n\n\n30.\nStar Wars\n(1977)\n\n\nUA\n|\n121 min\n|\n\nAction, Adventure, Fantasy            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n90        \n        Metascore\n            \n\n\n    Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire\'s world-destroying battle station, while also attempting to rescue Princess Leia from the mysterious Darth Vader.\n\n    Director:\nGeorge Lucas\n| \n    Stars:\nMark Hamill, \nHarrison Ford, \nCarrie Fisher, \nAlec Guinness\n\n\nVotes:\n1,239,899\n| Gross:\n$322.74M\n\n\n\n\n\n\n\n\n \n \n\n\n31.\nSeppuku\n(1962)\n\n\n133 min\n|\n\nAction, Drama, Mystery            \n\n\n\n\n8.6\n\n\n\n\nRate this\n\n\n\n\n\n\n\xa0\n\xa0\n\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n\n8.6/10\nX\n\xa0\n\n\n\n85        \n        Metascore\n            \n\n\n    When a ronin requesting seppuku at a feudal lord\'s palace is told of the brutal suicide of another ronin who previously visited, he reveals how their p

In [169]:
movies = soup.findAll('div',{'class':'lister-item mode-advanced'})

In [170]:
movies[0]

<div class="lister-item mode-advanced">
<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt0111161"></div>
</div>
<div class="lister-item-image float-left">
<a href="/title/tt0111161/"> <img alt="The Shawshank Redemption" class="loadlate" data-tconst="tt0111161" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png" width="67"/>
</a> </div>
<div class="lister-item-content">
<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0111161/">The Shawshank Redemption</a>
<span class="lister-item-year text-muted unbold">(1994)</span>
</h3>
<p class="text-muted">
<span class="certificate">A</span>
<span class="ghost">|</span>
<span class="runtime">142 min</span>
<span class="ghost">|</span>
<span class="genre">
Drama            </span>
</p>
<div class="ratings-bar">
<div class="inline-block ratings-imdb-rating" data-value="9.3" name="ir">
<span class="global-sprite rating-star imdb-rating"></span>
<strong>9.3</strong>
</div>
<div class="inline-block ratings-user-rating">
<span class="userRatingValue" data-tconst="tt0111161" id="urv_tt0111161">
<span class="global-sprite rating-star no-rating"></span>
<span class="rate" data-no-rating="Rate this" data-value="0" name="ur">Rate this</span>
</span>
<div class="starBarWidget" id="sb_tt0111161">
<div class="rating rating-list" data-csrf-token="" data-ga-identifier="" data-starbar-class="rating-list" data-user="" id="tt0111161|imdb|9.3|9.3|adv_li_tt||advsearch|title" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" title="Users rated this 9.3/10 (2,363,582 votes) - click stars to rate">
<meta content="9.3" itemprop="ratingValue"/>
<meta content="10" itemprop="bestRating"/>
<meta content="2363582" itemprop="ratingCount"/>
<span class="rating-bg"> </span>
<span class="rating-imdb" style="width: 130.2px"> </span>
<span class="rating-stars">
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>1</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>2</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>3</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>4</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>5</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>6</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>7</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>8</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>9</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>10</span></a>
</span>
<span class="rating-rating"><span class="value">9.3</span><span class="grey">/</span><span class="grey">10</span></span>
<span class="rating-cancel"><a href="/title/tt0111161/vote" rel="nofollow" title="Delete"><span>X</span></a></span>
 </div>
</div>
</div>
<div class="inline-block ratings-metascore">
<span class="metascore favorable">80        </span>
        Metascore
            </div>
</div>
<p class="text-muted">
    Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</p>
<p class="">
    Director:
<a href="/name/nm0001104/">Frank Darabont</a>
<span class="ghost">|</span>
    Stars:
<a href="/name/nm0000209/">Tim Robbins</a>,
<a href="/name/nm0000151/">Morgan Freeman</a>,
<a href="/name/nm0348409/">Bob Gunton</a>,
<a href="/name/nm0006669/">William Sadler</a>
</p>
<p class="sort-num_votes-visible">
<span class="text-muted">Votes:</span>
<span data-value="2363582" name="nv">2,363,582</span>
<span class="ghost">|</span> <span class="text-muted">Gross:</span>
<span data-value="28,341,469" name="nv">$28.34M</span>
</p>
</div>
</div>

In [171]:
first_movie=movies[0]

In [172]:
first_movie.h3.a.text #Movie Name

'The Shawshank Redemption'

In [173]:
first_movie.find("span",{"class":"lister-item-year text-muted unbold"}).text[1:5] #Year of Release

'1994'

In [174]:
first_movie.find('strong').text #Rating of the movie

'9.3'

In [175]:
#Let us now build a Dataframe containing all the hundred movies

In [176]:
Name = []
Year = []
Rating = []
for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find("span",{"class":"lister-item-year text-muted unbold"}).text[1:5])
    Rating.append(i.find('strong').text)

In [177]:
data= list(zip(Name,Year,Rating))

In [178]:
df= pd.DataFrame(data,columns=["Movie Name","Year", "Rating"])

In [181]:
df

                 Movie Name  Year Rating
0  The Shawshank Redemption  1994    9.3
1             The Godfather  1972    9.2
2           The Dark Knight  2008    9.0
3    The Godfather: Part II  1974    9.0
4              12 Angry Men  1957    9.0

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  100 non-null    object
 1   Year        100 non-null    object
 2   Rating      100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

# Top 100 Indian Movies IMDB

In [183]:
url="https://www.imdb.com/india/top-rated-indian-movies/"

In [184]:
res=requests.get(url)
print(res)

<Response [200]>

In [185]:
soup=BeautifulSoup(res.content,'html.parser')

In [186]:
soup.title.text

'Top Rated Indian Movies - IMDb'

cls=['titleColumn','ratingColumn imdbRating']
movies=[]
for i in cls:
    movies.append(soup.find_all('td',{'class':[i]}))

In [223]:
movies_title = soup.find_all('td',{'class':'titleColumn'})

In [224]:
movies_rating = soup.find_all('td',{'class':'ratingColumn imdbRating'})

In [225]:
movies_title

[<td class="titleColumn">
       1.
       <a href="/title/tt0048473/" title="Satyajit Ray (dir.), Kanu Bannerjee, Karuna Bannerjee">Pather Panchali</a>
 <span class="secondaryInfo">(1955)</span>
 </td>,
 <td class="titleColumn">
       2.
       <a href="/title/tt0079221/" title="Hrishikesh Mukherjee (dir.), Amol Palekar, Bindiya Goswami">Gol Maal</a>
 <span class="secondaryInfo">(1979)</span>
 </td>,
 <td class="titleColumn">
       3.
       <a href="/title/tt0093603/" title="Mani Ratnam (dir.), Kamal Haasan, Saranya Ponvannan">Nayakan</a>
 <span class="secondaryInfo">(1987)</span>
 </td>,
 <td class="titleColumn">
       4.
       <a href="/title/tt0367495/" title="Sundar C. (dir.), Kamal Haasan, Madhavan">Anbe Sivam</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       5.
       <a href="/title/tt12361178/" title="Jeethu Joseph (dir.), Mohanlal, Meena">Drishyam 2</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       6.
       <a href="/title/tt0052572/" title="Satyajit Ray (dir.), Soumitra Chatterjee, Sharmila Tagore">Apur Sansar</a>
 <span class="secondaryInfo">(1959)</span>
 </td>,
 <td class="titleColumn">
       7.
       <a href="/title/tt0237376/" title="Sibi Malayil (dir.), Mohanlal, Thilakan">Kireedam</a>
 <span class="secondaryInfo">(1989)</span>
 </td>,
 <td class="titleColumn">
       8.
       <a href="/title/tt5311546/" title="Mahesh Manjrekar (dir.), Nana Patekar, Medha Manjrekar">Natsamrat</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       9.
       <a href="/title/tt8176054/" title="Mari Selvaraj (dir.), Kathir, Anandhi">Pariyerum Perumal</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       10.
       <a href="/title/tt0400234/" title="Anurag Kashyap (dir.), Kay Kay Menon, Pawan Malhotra">Black Friday</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       11.
       <a href="/title/tt0214915/" title="Fazil (dir.), Mohanlal, Shobana">Manichitrathazhu</a>
 <span class="secondaryInfo">(1993)</span>
 </td>,
 <td class="titleColumn">
       12.
       <a href="/title/tt0105575/" title="Bharathan (dir.), Kamal Haasan, Shivaji Ganesan">Thevar Magan</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       13.
       <a href="/title/tt7019842/" title="C. Prem Kumar (dir.), Vijay Sethupathi, Trisha Krishnan">96</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       14.
       <a href="/title/tt7060344/" title="Ram Kumar (dir.), Vishnu Vishal, Amala Paul">Ratsasan</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       15.
       <a href="/title/tt8413338/" title="Madhu C. Narayanan (dir.), Shane Nigam, Soubin Shahir">Kumbalangi Nights</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       16.
       <a href="/title/tt1187043/" title="Rajkumar Hirani (dir.), Aamir Khan, Madhavan">3 Idiots</a>
 <span class="secondaryInfo">(2009)</span>
 </td>,
 <td class="titleColumn">
       17.
       <a href="/title/tt0986264/" title="Aamir Khan (dir.), Darsheel Safary, Aamir Khan">Taare Zameen Par</a>
 <span class="secondaryInfo">(2007)</span>
 </td>,
 <td class="titleColumn">
       18.
       <a href="/title/tt4991384/" title="Vetrimaaran (dir.), Dinesh, Samuthirakani">Visaaranai</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       19.
       <a href="/title/tt0101649/" title="Mani Ratnam (dir.), Rajinikanth, Mammootty">Thalapathi</a>
 <span class="secondaryInfo">(1991)</span>
 </td>,
 <td class="titleColumn">
       20.
       <a href="/title/tt0048956/" title="Satyajit Ray (dir.), Pinaki Sengupta, Smaran Ghosal">Aparajito</a>
 <span class="secondaryInfo">(1956)</span>
 </td>,
 <td class="titleColumn">
       21.
       <a href="/title/tt0085743/" title="Kundan Shah (dir.), Naseeruddin Shah, Ravi Baswani">Jaane Bhi Do Yaaro</a>
 <span class="secondaryInfo">(1983)</span>
 </td>,
 <td class="titleColumn">
       22.
       <a href="/title/tt9477520/" title="Vetrimaaran (dir.), Dhanush, Manju Warrier">Asuran</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       23.
       <a href="/title/tt0050870/" title="Guru Dutt (dir.), Guru Dutt, Waheeda Rehman">Pyaasa</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       24.
       <a href="/title/tt0059246/" title="Vijay Anand (dir.), Dev Anand, Waheeda Rehman">Guide</a>
 <span class="secondaryInfo">(1965)</span>
 </td>,
 <td class="titleColumn">
       25.
       <a href="/title/tt0066763/" title="Hrishikesh Mukherjee (dir.), Rajesh Khanna, Amitabh Bachchan">Anand</a>
 <span class="secondaryInfo">(1971)</span>
 </td>,
 <td class="titleColumn">
       26.
       <a href="/title/tt0312859/" title="Mani Ratnam (dir.), Madhavan, Simran">Kannathil Muthamittal</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       27.
       <a href="/title/tt8948790/" title="Gowtam Tinnanuri (dir.), Nani, Shraddha Srinath">Jersey</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       28.
       <a href="/title/tt0072783/" title="Hrishikesh Mukherjee (dir.), Dharmendra, Sharmila Tagore">Chupke Chupke</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       29.
       <a href="/title/tt9900782/" title="Lokesh Kanagaraj (dir.), Karthi, Narain">Kaithi</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       30.
       <a href="/title/tt3417422/" title="Jeethu Joseph (dir.), Mohanlal, Meena">Drishyam</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       31.
       <a href="/title/tt4987556/" title="Mohan Raja (dir.), Jayam Ravi, Arvind Swamy">Thani Oruvan</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       32.
       <a href="/title/tt6148156/" title="Gayatri (dir.), Madhavan, Vijay Sethupathi">Vikram Vedha</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       33.
       <a href="/title/tt5959980/" title="Vetrimaaran (dir.), Dhanush, Ameer Sultan">Vada Chennai</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       34.
       <a href="/title/tt10189514/" title="Sudha Kongara (dir.), Suriya, Madhavan">Soorarai Pottru</a>
 <span class="secondaryInfo">(2020)</span>
 </td>,
 <td class="titleColumn">
       35.
       <a href="/title/tt5867800/" title="Arun Prabhu Purushothaman (dir.), Aditi Balan, Padmashri Mohammad Ali">Aruvi</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       36.
       <a href="/title/tt7738784/" title="Ram (dir.), Mammootty, Sadhana">Peranbu</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       37.
       <a href="/title/tt0466460/" title="Dibakar Banerjee (dir.), Anupam Kher, Boman Irani">Khosla Ka Ghosla!</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       38.
       <a href="/title/tt7019942/" title="Thiagarajan Kumararaja (dir.), Vijay Sethupathi, Fahadh Faasil">Super Deluxe</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       39.
       <a href="/title/tt10214826/" title="Swaroop Rsj (dir.), Naveen Polishetty, Shruti Sharma">Agent Sai Srinivasa Athreya</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       40.
       <a href="/title/tt7465992/" title="Nag Ashwin (dir.), Keerthy Suresh, Dulquer Salmaan">Mahanati</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       41.
       <a href="/title/tt8239946/" title="Rahi Anil Barve (dir.), Sohum Shah, Jyoti Malshe">Tumbbad</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       42.
       <a href="/title/tt8108198/" title="Sriram Raghavan (dir.), Ayushmann Khurrana, Tabu">Andhadhun</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       43.
       <a href="/title/tt3973410/" title="M. Manikandan (dir.), Ramesh, J. Vignesh">Kaakkaa Muttai</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       44.
       <a href="/title/tt4679210/" title="Alphonse Puthren (dir.), Nivin Pauly, Sai Pallavi">Premam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       45.
       <a href="/title/tt6380520/" title="Karthick Naren (dir.), Rahman, Prakash Raghavan">Dhuruvangal Pathinaaru</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       46.
       <a href="/title/tt0195231/" title="Ram Gopal Varma (dir.), J.D. Chakravarthi, Manoj Bajpayee">Satya</a>
 <span class="secondaryInfo">(1998)</span>
 </td>,
 <td class="titleColumn">
       47.
       <a href="/title/tt2181831/" title="Hansal Mehta (dir.), Rajkummar Rao, Prabhleen Sandhu">Shahid</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       48.
       <a href="/title/tt3668162/" title="Anjali Menon (dir.), Nazriya Nazim, Nivin Pauly">Bangalore Days</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       49.
       <a href="/title/tt0220656/" title="S. Shankar (dir.), Arjun Sarja, Manisha Koirala">Mudhalvan</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       50.
       <a href="/title/tt2877108/" title="Nalan Kumarasamy (dir.), Vijay Sethupathi, Sanchita Shetty">Soodhu Kavvum</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       51.
       <a href="/title/tt0376127/" title="S. Shankar (dir.), Vikram, Sada">Anniyan</a>
 <span class="secondaryInfo">(2005)</span>
 </td>,
 <td class="titleColumn">
       52.
       <a href="/title/tt1954470/" title="Anurag Kashyap (dir.), Manoj Bajpayee, Richa Chadha">Gangs of Wasseypur</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       53.
       <a href="/title/tt4429128/" title="Jeethu Joseph (dir.), Kamal Haasan, Gautami">Papanasam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       54.
       <a href="/title/tt3569782/" title="Karthik Subbaraj (dir.), Siddharth, Bobby Simha">Jigarthanda</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       55.
       <a href="/title/tt2356180/" title="Rakeysh Omprakash Mehra (dir.), Farhan Akhtar, Sonam Kapoor">Bhaag Milkha Bhaag</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       56.
       <a href="/title/tt1620933/" title="Tigmanshu Dhulia (dir.), Irrfan Khan, Mahie Gill">Paan Singh Tomar</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       57.
       <a href="/title/tt0367110/" title="Ashutosh Gowariker (dir.), Shah Rukh Khan, Gayatri Joshi">Swades: We, the People</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       58.
       <a href="/title/tt4934950/" title="Meghna Gulzar (dir.), Irrfan Khan, Konkona Sen Sharma">Talvar</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       59.
       <a href="/title/tt0073707/" title="Ramesh Sippy (dir.), Sanjeev Kumar, Dharmendra">Sholay</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       60.
       <a href="/title/tt0242519/" title="Priyadarshan (dir.), Akshay Kumar, Sunil Shetty">Hera Pheri</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       61.
       <a href="/title/tt5312232/" title="Nagraj Manjule (dir.), Rinku Rajguru, Akash Thosar">Sairat</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       62.
       <a href="/title/tt4430212/" title="Nishikant Kamat (dir.), Ajay Devgn, Shriya Saran">Drishyam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       63.
       <a href="/title/tt5005684/" title="Ashwiny Iyer Tiwari (dir.), Swara Bhaskar, Ratna Pathak Shah">Nil Battey Sannata</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       64.
       <a href="/title/tt0375611/" title="Sanjay Leela Bhansali (dir.), Amitabh Bachchan, Rani Mukerji">Black</a>
 <span class="secondaryInfo">(2005)</span>
 </td>,
 <td class="titleColumn">
       65.
       <a href="/title/tt0871510/" title="Shimit Amin (dir.), Shah Rukh Khan, Vidya Malvade">Chak De! India</a>
 <span class="secondaryInfo">(2007)</span>
 </td>,
 <td class="titleColumn">
       66.
       <a href="/title/tt0376076/" title="Bala (dir.), Vikram, Suriya">Pithamagan</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       67.
       <a href="/title/tt0057935/" title="Satyajit Ray (dir.), Soumitra Chatterjee, Madhabi Mukherjee">Charulata</a>
 <span class="secondaryInfo">(1964)</span>
 </td>,
 <td class="titleColumn">
       68.
       <a href="/title/tt0104561/" title="Mansoor Khan (dir.), Aamir Khan, Ayesha Jhulka">Jo Jeeta Wohi Sikandar</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       69.
       <a href="/title/tt0054098/" title="K. Asif (dir.), Prithviraj Kapoor, Madhubala">Mughal-E-Azam</a>
 <span class="secondaryInfo">(1960)</span>
 </td>,
 <td class="titleColumn">
       70.
       <a href="/title/tt2218988/" title="Anwar Rasheed (dir.), Dulquer Salmaan, Thilakan">Ustad Hotel</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       71.
       <a href="/title/tt1639426/" title="Vikramaditya Motwane (dir.), Rajat Barmecha, Ronit Roy">Udaan</a>
 <span class="secondaryInfo">(2010)</span>
 </td>,
 <td class="titleColumn">
       72.
       <a href="/title/tt0405508/" title="Rakeysh Omprakash Mehra (dir.), Aamir Khan, Soha Ali Khan">Rang De Basanti</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       73.
       <a href="/title/tt3322420/" title="Vikas Bahl (dir.), Kangana Ranaut, Rajkummar Rao">Queen</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       74.
       <a href="/title/tt1562872/" title="Zoya Akhtar (dir.), Hrithik Roshan, Farhan Akhtar">Zindagi Na Milegi Dobara</a>
 <span class="secondaryInfo">(2011)</span>
 </td>,
 <td class="titleColumn">
       75.
       <a href="/title/tt10324144/" title="Anubhav Sinha (dir.), Ayushmann Khurrana, Nassar">Article 15</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       76.
       <a href="/title/tt1280558/" title="Neeraj Pandey (dir.), Anupam Kher, Naseeruddin Shah">A Wednesday</a>
 <span class="secondaryInfo">(2008)</span>
 </td>,
 <td class="titleColumn">
       77.
       <a href="/title/tt0374887/" title="Rajkumar Hirani (dir.), Sanjay Dutt, Arshad Warsi">Munna Bhai M.B.B.S.</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       78.
       <a href="/title/tt0292490/" title="Farhan Akhtar (dir.), Aamir Khan, Saif Ali Khan">Dil Chahta Hai</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       79.
       <a href="/title/tt0200087/" title="John Mathew Matthan (dir.), Aamir Khan, Naseeruddin Shah">Sarfarosh</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       80.
       <a href="/title/tt4635372/" title="Neeraj Ghaywan (dir.), Richa Chadha, Sanjay Mishra">Masaan</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       81.
       <a href="/title/tt0109117/" title="Rajkumar Santoshi (dir.), Aamir Khan, Salman Khan">Andaz Apna Apna</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       82.
       <a href="/title/tt4851630/" title="Dileesh Pothan (dir.), Fahadh Faasil, Aparna Balamurali">Maheshinte Prathikaaram</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       83.
       <a href="/title/tt2283748/" title="Umesh Shukla (dir.), Paresh Rawal, Akshay Kumar">OMG: Oh My God!</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       84.
       <a href="/title/tt0105271/" title="Mani Ratnam (dir.), Arvind Swamy, Madhoo">Roja</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       85.
       <a href="/title/tt0169102/" title="Ashutosh Gowariker (dir.), Aamir Khan, Raghuvir Yadav">Lagaan: Once Upon a Time in India</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       86.
       <a href="/title/tt0242256/" title="Mani Ratnam (dir.), Madhavan, Shalini">Alai Payuthey</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       87.
       <a href="/title/tt7060460/" title="H. Vinoth (dir.), Karthi, Rakul Preet Singh">Theeran adhigaaram ondru</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       88.
       <a href="/title/tt1821480/" title="Sujoy Ghosh (dir.), Vidya Balan, Parambrata Chattopadhyay">Kahaani</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       89.
       <a href="/title/tt0139876/" title="Suresh Krishna (dir.), Rajinikanth, Nagma">Baasha</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       90.
       <a href="/title/tt2338151/" title="Rajkumar Hirani (dir.), Aamir Khan, Anushka Sharma">PK</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       91.
       <a href="/title/tt8291224/" title="Aditya Dhar (dir.), Vicky Kaushal, Paresh Rawal">Uri: The Surgical Strike</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       92.
       <a href="/title/tt0453729/" title="Nagesh Kukunoor (dir.), Shreyas Talpade, Naseeruddin Shah">Iqbal</a>
 <span class="secondaryInfo">(2005)</span>
 </td>,
 <td class="titleColumn">
       93.
       <a href="/title/tt2358592/" title="Pawan Kumar (dir.), Sathish Neenasam, Sruthi Hariharan">Lucia</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       94.
       <a href="/title/tt5571734/" title="Aniruddha Roy Chowdhury (dir.), Taapsee Pannu, Amitabh Bachchan">Pink</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       95.
       <a href="/title/tt2082197/" title="Anurag Basu (dir.), Ranbir Kapoor, Priyanka Chopra">Barfi!</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       96.
       <a href="/title/tt0319736/" title="Rajkumar Santoshi (dir.), Ajay Devgn, Sushant Singh">The Legend of Bhagat Singh</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       97.
       <a href="/title/tt0843326/" title="Bhaskar (dir.), Siddharth, Genelia D'Souza">Bommarillu</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       98.
       <a href="/title/tt0379370/" title="Vishal Bhardwaj (dir.), Irrfan Khan, Tabu">Maqbool</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       99.
       <a href="/title/tt0112553/" title="Mani Ratnam (dir.), Arvind Swamy, Manisha Koirala">Bombay</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       100.
       <a href="/title/tt0488414/" title="Vishal Bhardwaj (dir.), Ajay Devgn, Kareena Kapoor">Omkara</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       101.
       <a href="/title/tt8144834/" title="Ajay Bahl (dir.), Akshaye Khanna, Richa Chadha">Section 375</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       102.
       <a href="/title/tt0456144/" title="Rajkumar Hirani (dir.), Sanjay Dutt, Arshad Warsi">Lage Raho Munna Bhai</a>

In [226]:
first_movie=movies_title[0]

In [229]:
first_rating = movies_rating[0]

In [227]:
first_movie

<td class="titleColumn">
      1.
      <a href="/title/tt0048473/" title="Satyajit Ray (dir.), Kanu Bannerjee, Karuna Bannerjee">Pather Panchali</a>
<span class="secondaryInfo">(1955)</span>
</td>

In [196]:
first_movie.a.text

'Pather Panchali'

In [197]:
first_movie.find("span",{"class":"secondaryInfo"}).text[1:5] #Year of Release

'1955'

In [230]:
first_rating.find('strong').text #Rating of the movie

'8.5'

In [240]:
Name = []
Year = []
Rating = []
for i in movies_title[0:100]:
    Name.append(i.a.text)
    Year.append(i.find("span",{"class":"secondaryInfo"}).text[1:5])
for i in movies_rating[0:100]:    
    Rating.append(i.find('strong').text)

In [241]:
data= list(zip(Name,Year,Rating))

In [244]:
df_indianmovie= pd.DataFrame(data,columns=["Movie Name","Year", "Rating"])

In [245]:
df_indianmovie

                    Movie Name  Year Rating
0              Pather Panchali  1955    8.5
1                     Gol Maal  1979    8.5
2                      Nayakan  1987    8.5
3                   Anbe Sivam  2003    8.5
4                   Drishyam 2  2021    8.5
..                         ...   ...    ...
95  The Legend of Bhagat Singh  2002    8.0
96                  Bommarillu  2006    8.0
97                     Maqbool  2003    8.0
98                      Bombay  1995    8.0
99                      Omkara  2006    8.0

[100 rows x 3 columns]

# Cricket Mens ODI Top ten Teams

In [246]:
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [247]:
res=requests.get(url)
print(res)

<Response [200]>

In [248]:
soup=BeautifulSoup(res.content,'html.parser')

In [249]:
soup.title.text

'ICC Ranking for ODI teams International Cricket Council'

In [267]:
ranking_first = soup.findAll('tr',{'class':'rankings-block__banner'})

In [269]:
ranking_first[0]

<tr class="rankings-block__banner">
<td class="rankings-block__banner--pos">1</td>
<td class="rankings-block__banner--team-name">
<span class="flag-30 rankings-block__banner--flag ENG"></span>
<span class="u-hide-phablet">England</span>
<span class="u-show-phablet">ENG</span>
</td>
<td class="rankings-block__banner--matches">44</td>
<td class="rankings-block__banner--points">5,405</td>
<td class="rankings-block__banner--rating u-text-right">
                            123
                            <span class="circle-branding circle-branding--top"></span>
<span class="circle-branding circle-branding--bottom"></span>
</td>
</tr>

In [270]:
ranking_first[0].find("span",{"class":"u-hide-phablet"}).text

'England'

In [272]:
ranking_first[0].find("td",{"class":"rankings-block__banner--matches"}).text

'44'

In [273]:
ranking_first[0].find("td",{"class":"rankings-block__banner--points"}).text

'5,405'

In [284]:
ranking_first[0].find("td",{"class":"rankings-block__banner--rating u-text-right"}).text.strip('\n').strip(" ").strip("\n")

'123'

In [285]:
ranking_rest = soup.findAll('tr',{'class':'table-body'})

In [287]:
ranking_rest[0]

<tr class="table-body" data-team-id="14">
<td class="table-body__cell table-body__cell--position u-text-right">2</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo IND"></span>
<span class="u-hide-phablet">India</span>
<span class="u-show-phablet">IND</span>
</td>
<td class="table-body__cell u-center-text">52</td>
<td class="table-body__cell u-center-text">6,102</td>
<td class="table-body__cell u-text-right rating">117</td>
</tr>

In [288]:
ranking_rest[0].find("span",{"class":"u-hide-phablet"}).text

'India'

In [290]:
ranking_rest[0].find("td",{"class":"table-body__cell u-center-text"}).text

'52'

In [304]:
ranking_rest[0].findAll("td",{"class":"table-body__cell u-center-text"})[1].text

'6,102'

In [302]:
ranking_rest[0].find("td",{"class":"table-body__cell u-text-right rating"}).text

'117'

In [306]:
Team = []
Matches = []
Points = []
Rating = []
for i in ranking_first[0:1]:
    Team.append(i.find("span",{"class":"u-hide-phablet"}).text)
    Matches.append(i.find("td",{"class":"rankings-block__banner--matches"}).text) 
    Points.append(i.find("td",{"class":"rankings-block__banner--points"}).text)
    Rating.append(i.find("td",{"class":"rankings-block__banner--rating u-text-right"}).text.strip('\n').strip(" ").strip("\n"))
for i in ranking_rest[0:9]:
    Team.append(i.find("span",{"class":"u-hide-phablet"}).text)
    Matches.append(i.find("td",{"class":"table-body__cell u-center-text"}).text) 
    Points.append(i.findAll("td",{"class":"table-body__cell u-center-text"})[1].text)
    Rating.append(i.find("td",{"class":"table-body__cell u-text-right rating"}).text)

In [307]:
data= list(zip(Team,Matches,Points,Rating))

In [308]:
df_ODI10= pd.DataFrame(data,columns=["Team","Matches","Points","Rating"])

In [309]:
df_ODI10

           Team Matches Points Rating
0       England      44  5,405    123
1         India      52  6,102    117
2   New Zealand      32  3,716    116
3     Australia      39  4,344    111
4  South Africa      31  3,345    108
5      Pakistan      35  3,490    100
6    Bangladesh      37  3,366     91
7     Sri Lanka      42  3,372     80
8   West Indies      49  3,802     78
9   Afghanistan      31  1,844     59

# ODI Top 10 Batting Ranking

In [310]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"

In [311]:
res=requests.get(url)
print(res)

<Response [200]>

In [312]:
soup=BeautifulSoup(res.content,'html.parser')

In [313]:
soup.title.text

'Live Cricket Scores & News International Cricket Council'

In [314]:
ranking_first = soup.findAll('tr',{'class':'rankings-block__banner'})

In [331]:
ranking_first1 = soup.findAll('td',{'class':'u-text-left'})

In [339]:
ranking_first2 = soup.findAll('td',{'class':"u-text-right u-hide-phablet u-overflow-hidden"})

In [332]:
ranking_first

[<tr class="rankings-block__banner">
 <td class="rankings-block__position">1</td>
 <td class="rankings-block__top-player-container">
 <div class="u-flex-center u-text-left">
 <div class="rankings-block__player-image-container rankings-block__player-image-container--large">
 <a href="/rankings/mens/player-rankings/164">
 <img alt="Player Image" class="rankings-block__player-image image-missing" data-error="true" data-player="164" data-size="130x150" data-widget="player-image" src="//resources.pulse.icc-cricket.com/players/130x150/Photo-Missing.png"/>
 </a>
 </div>
 <div>
 <a href="/rankings/mens/player-rankings/164"><div class="rankings-block__banner--name-large">Virat Kohli</div></a>
 </div>
 </div>
 </td>
 <td>
 <div class="rankings-block__banner--nationality">
 <div class="flag-15 IND"></div>
 <span class="rankings-block__banner--nation"></span>IND</div></td></tr>]

In [333]:
ranking_first1

[<td class="u-text-left">
 <div class="rankings-block__banner--rating">870</div>
 </td>]

In [340]:
ranking_first2

[<td class="u-text-right u-hide-phablet u-overflow-hidden">
 <div class="rankings-block__career-best">
 <span class="rankings-block__career-best-text">
                                 911 v England, 12/07/2018
                         </span>
 <span class="circle-branding circle-branding--full-table circle-branding--top"></span>
 <span class="circle-branding circle-branding--full-table circle-branding--bottom"></span>
 </div>
 </td>]

In [321]:
ranking_first[0].find("div",{"class":"rankings-block__banner--name-large"}).text

'Virat Kohli'

In [327]:
ranking_first[0].find("div",{"class":"rankings-block__banner--nationality"}).text.strip('\n')

'IND'

In [334]:
ranking_first1[0].find("div",{"class":"rankings-block__banner--rating"}).text

'870'

In [344]:
ranking_first2[0].find("span",{"class":"rankings-block__career-best-text"}).text.strip('\n').strip(" ").strip('\n')

'911 v England, 12/07/2018'

In [318]:
ranking_rest = soup.findAll('tr',{'class':'table-body'})

In [320]:
ranking_rest[0]

<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                            2
        <span class="ranking-pos no-change"></span>
</td>
<td class="table-body__cell rankings-table__name name">
<a href="/rankings/mens/player-rankings/107">Rohit Sharma</a>
</td>
<td class="table-body__cell nationality-logo rankings-table__team">
<span class="flag-15 table-body_logo IND"></span>
<span class="table-body__logo-text">IND</span>
</td>
<td class="table-body__cell rating">842</td>
<td class="table-body__cell u-text-right u-hide-phablet">
                                885 v Sri Lanka, 06/07/2019
                        </td>
</tr>

In [345]:
ranking_rest[0].find("td",{"class":"table-body__cell u-text-right u-hide-phablet"}).text.strip('\n').strip(" ").strip('\n')

'885 v Sri Lanka, 06/07/2019'

In [349]:
Player = []
Team = []
Rating = []
Bestrating = []
for i in ranking_first[0:1]:
    Player.append(i.find("div",{"class":"rankings-block__banner--name-large"}).text)
    Team.append(i.find("div",{"class":"rankings-block__banner--nationality"}).text.strip('\n'))
for i in ranking_first1[0:1]:
    Rating.append(i.find("div",{"class":"rankings-block__banner--rating"}).text)
for i in ranking_first2[0:1]:    
    Bestrating.append(i.find("span",{"class":"rankings-block__career-best-text"}).text.strip('\n').strip(" ").strip('\n'))

    
for i in ranking_rest[0:9]:
    Player.append(i.find("td",{"class":"table-body__cell rankings-table__name name"}).text)
    Team.append(i.find("span",{"class":"table-body__logo-text"}).text.strip('\n'))
    Rating.append(i.find("td",{"class":"table-body__cell rating"}).text)  
    Bestrating.append(i.find("td",{"class":"table-body__cell u-text-right u-hide-phablet"}).text.strip('\n').strip(" ").strip('\n'))

In [350]:
data= list(zip(Player,Team,Rating,Bestrating))

In [351]:
df_ODI10batsman= pd.DataFrame(data,columns=["Player","Team","Rating","Bestrating"])

In [352]:
df_ODI10batsman

                    Player Team Rating                    Bestrating
0              Virat Kohli  IND    870     911 v England, 12/07/2018
1         \nRohit Sharma\n  IND    842   885 v Sri Lanka, 06/07/2019
2           \nBabar Azam\n  PAK    837   846 v Sri Lanka, 20/10/2017
3          \nRoss Taylor\n   NZ    818  841 v Bangladesh, 05/06/2019
4          \nAaron Finch\n  AUS    791     798 v England, 25/06/2019
5  \nFrancois du Plessis\n   SA    790   820 v Australia, 06/07/2019
6         \nDavid Warner\n  AUS    773    880 v Pakistan, 26/01/2017
7            \nShai Hope\n   WI    773  808 v Bangladesh, 17/05/2019
8      \nKane Williamson\n   NZ    765       799 v India, 09/07/2019
9      \nQuinton de Kock\n   SA    755   813 v Sri Lanka, 10/03/2019

# ODI Bowler Top 10

In [388]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [389]:
res=requests.get(url)
print(res)

<Response [200]>

In [390]:
soup=BeautifulSoup(res.content,'html.parser')

In [391]:
soup.title.text

'Live Cricket Scores & News International Cricket Council'

In [392]:
ranking_first = soup.findAll('tr',{'class':'rankings-block__banner'})

In [393]:
ranking_first1 = soup.findAll('td',{'class':'u-text-left'})

In [394]:
ranking_first2 = soup.findAll('td',{'class':"u-text-right u-hide-phablet u-overflow-hidden"})

In [395]:
ranking_first

[<tr class="rankings-block__banner">
 <td class="rankings-block__position">1</td>
 <td class="rankings-block__top-player-container">
 <div class="u-flex-center u-text-left">
 <div class="rankings-block__player-image-container rankings-block__player-image-container--large">
 <a href="/rankings/mens/player-rankings/969">
 <img alt="Player Image" class="rankings-block__player-image image-missing" data-error="true" data-player="969" data-size="130x150" data-widget="player-image" src="//resources.pulse.icc-cricket.com/players/130x150/Photo-Missing.png"/>
 </a>
 </div>
 <div>
 <a href="/rankings/mens/player-rankings/969"><div class="rankings-block__banner--name-large">Trent Boult</div></a>
 </div>
 </div>
 </td>
 <td>
 <div class="rankings-block__banner--nationality">
 <div class="flag-15 NZ"></div>
 <span class="rankings-block__banner--nation"></span>NZ</div></td></tr>]

In [396]:
ranking_rest = soup.findAll('tr',{'class':'table-body'})

In [397]:
ranking_first[0].find("div",{"class":"rankings-block__banner--name-large"}).text

'Trent Boult'

In [398]:
ranking_first[0].find("div",{"class":"rankings-block__banner--nationality"}).text.strip('\n')

'NZ'

In [399]:
ranking_first1[0].find("div",{"class":"rankings-block__banner--rating"}).text

'722'

In [400]:
ranking_first2[0].find("span",{"class":"rankings-block__career-best-text"}).text.strip('\n').strip(" ").strip('\n')

'770 v West Indies, 22/06/2019'

In [401]:
Player = []
Team = []
Rating = []
Bestrating = []
for i in ranking_first[0:1]:
    Player.append(i.find("div",{"class":"rankings-block__banner--name-large"}).text)
    Team.append(i.find("div",{"class":"rankings-block__banner--nationality"}).text.strip('\n'))
for i in ranking_first1[0:1]:
    Rating.append(i.find("div",{"class":"rankings-block__banner--rating"}).text)
for i in ranking_first2[0:1]:    
    Bestrating.append(i.find("span",{"class":"rankings-block__career-best-text"}).text.strip('\n').strip(" ").strip('\n'))

    
for i in ranking_rest[0:9]:
    Player.append(i.find("td",{"class":"table-body__cell rankings-table__name name"}).text.strip('\n'))
    Team.append(i.find("span",{"class":"table-body__logo-text"}).text.strip('\n'))
    Rating.append(i.find("td",{"class":"table-body__cell rating"}).text)  
    Bestrating.append(i.find("td",{"class":"table-body__cell u-text-right u-hide-phablet"}).text.strip('\n').strip(" ").strip('\n'))

In [402]:
data= list(zip(Player,Team,Rating,Bestrating))

In [403]:
df_ODI10bowler = pd.DataFrame(data,columns=["Player","Team","Rating","Bestrating"])

In [404]:
df_ODI10bowler

              Player Team Rating                     Bestrating
0        Trent Boult   NZ    722  770 v West Indies, 22/06/2019
1   Mujeeb Ur Rahman  AFG    708      712 v Ireland, 24/01/2021
2     Jasprit Bumrah  IND    700  841 v West Indies, 01/11/2018
3       Mehedi Hasan  BAN    694  694 v West Indies, 25/01/2021
4       Chris Woakes  ENG    675  676 v New Zealand, 14/07/2019
5      Kagiso Rabada   SA    665      724 v England, 29/05/2017
6     Josh Hazlewood  AUS    660      733 v England, 26/01/2018
7  Mustafizur Rahman  BAN    658  695 v West Indies, 14/12/2018
8      Mohammad Amir  PAK    647    663 v Sri Lanka, 02/10/2019
9        Pat Cummins  AUS    646     729 v Pakistan, 12/06/2019

# ODI Womens Top 10

In [405]:
url= "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [406]:
res=requests.get(url)
print(res)

<Response [200]>

In [407]:
soup=BeautifulSoup(res.content,'html.parser')

In [408]:
soup.title.text

'ICC Ranking for ODI teams International Cricket Council'

In [409]:
ranking_first = soup.findAll('tr',{'class':'rankings-block__banner'})

In [410]:
ranking_first

[<tr class="rankings-block__banner">
 <td class="rankings-block__banner--pos">1</td>
 <td class="rankings-block__banner--team-name">
 <span class="flag-30 rankings-block__banner--flag AUS"></span>
 <span class="u-hide-phablet">Australia</span>
 <span class="u-show-phablet">AUS</span>
 </td>
 <td class="rankings-block__banner--matches">15</td>
 <td class="rankings-block__banner--points">2,436</td>
 <td class="rankings-block__banner--rating u-text-right">
                             162
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>
 </tr>]

In [411]:
ranking_rest = soup.findAll('tr',{'class':'table-body'})

In [412]:
Team = []
Matches = []
Points = []
Rating = []

for i in ranking_first[0:1]:
    Team.append(i.find("span",{"class":"u-hide-phablet"}).text)
    Matches.append(i.find("td",{"class":"rankings-block__banner--matches"}).text) 
    Points.append(i.find("td",{"class":"rankings-block__banner--points"}).text)
    Rating.append(i.find("td",{"class":"rankings-block__banner--rating u-text-right"}).text.strip('\n').strip(" ").strip("\n"))

for i in ranking_rest[0:9]:
    Team.append(i.find("span",{"class":"u-hide-phablet"}).text)
    Matches.append(i.find("td",{"class":"table-body__cell u-center-text"}).text) 
    Points.append(i.findAll("td",{"class":"table-body__cell u-center-text"})[1].text)
    Rating.append(i.find("td",{"class":"table-body__cell u-text-right rating"}).text)

In [413]:
data= list(zip(Team,Matches,Points,Rating))

In [414]:
df_womenODI10= pd.DataFrame(data,columns=["Team","Matches","Points","Rating"])

In [415]:
df_womenODI10

           Team Matches Points Rating
0     Australia      15  2,436    162
1  South Africa      24  2,828    118
2       England      17  1,993    117
3         India      20  2,226    111
4   New Zealand      18  1,696     94
5   West Indies      12  1,025     85
6      Pakistan      15  1,101     73
7    Bangladesh       5    306     61
8     Sri Lanka      11    519     47
9       Ireland       2     25     13

# ODI Womens Batting Top 10

In [416]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

In [417]:
res=requests.get(url)
print(res)

<Response [200]>

In [418]:
soup=BeautifulSoup(res.content,'html.parser')

In [419]:
soup.title.text

'Live Cricket Scores & News International Cricket Council'

In [420]:
ranking_first = soup.findAll('tr',{'class':'rankings-block__banner'})

In [421]:
ranking_first1 = soup.findAll('td',{'class':'u-text-left'})

In [422]:
ranking_first2 = soup.findAll('td',{'class':"u-text-right u-hide-phablet u-overflow-hidden"})

In [424]:
ranking_rest = soup.findAll('tr',{'class':'table-body'})

In [425]:
Player = []
Team = []
Rating = []
Bestrating = []
for i in ranking_first[0:1]:
    Player.append(i.find("div",{"class":"rankings-block__banner--name-large"}).text)
    Team.append(i.find("div",{"class":"rankings-block__banner--nationality"}).text.strip('\n'))
for i in ranking_first1[0:1]:
    Rating.append(i.find("div",{"class":"rankings-block__banner--rating"}).text)
for i in ranking_first2[0:1]:    
    Bestrating.append(i.find("span",{"class":"rankings-block__career-best-text"}).text.strip('\n').strip(" ").strip('\n'))

    
for i in ranking_rest[0:9]:
    Player.append(i.find("td",{"class":"table-body__cell rankings-table__name name"}).text)
    Team.append(i.find("span",{"class":"table-body__logo-text"}).text.strip('\n'))
    Rating.append(i.find("td",{"class":"table-body__cell rating"}).text)  
    Bestrating.append(i.find("td",{"class":"table-body__cell u-text-right u-hide-phablet"}).text.strip('\n').strip(" ").strip('\n'))

In [426]:
data= list(zip(Player,Team,Rating,Bestrating))

In [427]:
df_ODI10batting = pd.DataFrame(data,columns=["Player","Team","Rating","Bestrating"])

In [428]:
df_ODI10batting

                  Player Team Rating                     Bestrating
0            Lizelle Lee   SA    773        773 v India, 14/03/2021
1     \nTammy Beaumont\n  ENG    765  765 v New Zealand, 28/02/2021
2        \nMeg Lanning\n  AUS    749  834 v New Zealand, 24/02/2016
3    \nStafanie Taylor\n   WI    746        765 v India, 02/03/2012
4       \nAlyssa Healy\n  AUS    741  741 v New Zealand, 07/10/2020
5  \nAmy Satterthwaite\n   NZ    740    756 v Australia, 02/03/2017
6    \nSmriti Mandhana\n  IND    719      797 v England, 28/02/2019
7    \nLaura Wolvaardt\n   SA    699        725 v India, 07/03/2021
8        \nMithali Raj\n  IND    693    839 v Australia, 24/12/2004
9       \nEllyse Perry\n  AUS    691  766 v West Indies, 11/09/2019

# ODI Bowling Womens Top 10

In [429]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling"

In [430]:
res=requests.get(url)
print(res)

<Response [200]>

In [431]:
soup=BeautifulSoup(res.content,'html.parser')

In [432]:
soup.title.text

'Live Cricket Scores & News International Cricket Council'

In [433]:
ranking_first = soup.findAll('tr',{'class':'rankings-block__banner'})

In [434]:
ranking_first1 = soup.findAll('td',{'class':'u-text-left'})

In [435]:
ranking_first2 = soup.findAll('td',{'class':"u-text-right u-hide-phablet u-overflow-hidden"})

In [436]:
ranking_rest = soup.findAll('tr',{'class':'table-body'})

In [437]:
Player = []
Team = []
Rating = []
Bestrating = []
for i in ranking_first[0:1]:
    Player.append(i.find("div",{"class":"rankings-block__banner--name-large"}).text)
    Team.append(i.find("div",{"class":"rankings-block__banner--nationality"}).text.strip('\n'))
for i in ranking_first1[0:1]:
    Rating.append(i.find("div",{"class":"rankings-block__banner--rating"}).text)
for i in ranking_first2[0:1]:    
    Bestrating.append(i.find("span",{"class":"rankings-block__career-best-text"}).text.strip('\n').strip(" ").strip('\n'))

    
for i in ranking_rest[0:9]:
    Player.append(i.find("td",{"class":"table-body__cell rankings-table__name name"}).text.strip('\n'))
    Team.append(i.find("span",{"class":"table-body__logo-text"}).text.strip('\n'))
    Rating.append(i.find("td",{"class":"table-body__cell rating"}).text)  
    Bestrating.append(i.find("td",{"class":"table-body__cell u-text-right u-hide-phablet"}).text.strip('\n').strip(" ").strip('\n'))

In [438]:
data= list(zip(Player,Team,Rating,Bestrating))

In [439]:
df_ODI10bowling = pd.DataFrame(data,columns=["Player","Team","Rating","Bestrating"])

In [440]:
df_ODI10bowling

            Player Team Rating                      Bestrating
0    Jess Jonassen  AUS    804   804 v New Zealand, 07/10/2020
1     Megan Schutt  AUS    735   766 v West Indies, 11/09/2019
2   Shabnim Ismail   SA    733         743 v India, 07/03/2021
3   Marizanne Kapp   SA    725         745 v India, 09/03/2021
4   Jhulan Goswami  IND    687       796 v England, 28/02/2007
5     Ellyse Perry  AUS    666   719 v West Indies, 05/09/2019
6  Katherine Brunt  ENG    655         796 v India, 03/02/2013
7     Poonam Yadav  IND    654   680 v West Indies, 06/11/2019
8   Ayabonga Khaka   SA    651         651 v India, 14/03/2021
9    Shikha Pandey  IND    623  696 v South Africa, 11/10/2019

# Amazon Mobile list under Rs20,000

In [651]:
from requests_html import HTMLSession

In [678]:

pages = list(range(1,50))
for page in pages:
    req = requests.get("https://www.amazon.in/s?i=electronics&bbn=1389401031&rh=n%3A1389401031%2Cp_36%3A1318506031&dc&page=2&qid=1616257200&rnid=1318502031&ref=sr_pg_{}".format(page)).text  # URL of the website which you want to scrape
    #content = req.content # Get the content
    soup = BeautifulSoup(req,'html.parser')
  #print(soup.prettify())

In [540]:
soup=BeautifulSoup(res.content,'html.parser')

In [658]:
soup.title.text

'Amazon.in: ₹10,000 - ₹20,000 - Mobiles & Accessories: Electronics'

In [681]:
mobile= soup.findAll('div',{'class':'sg-col-4-of-12 s-result-item s-asin sg-col-4-of-16 sg-col sg-col-4-of-20'})

In [661]:
mobile[0].find("span",{"class":"a-size-base-plus a-color-base a-text-normal"}).text #Model

'Redmi 9 Power (Electric Green, 4GB RAM, 64GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera'

In [662]:
mobile[0].find("span",{"class":"a-offscreen"}).text #Price

'₹10,499'

In [664]:

for a_tag in mobile[0].findAll("a",{"class":"a-link-normal s-no-outline"}):
    
    Productlink = "https://www.amazon.in/" + a_tag.attrs.get("href")

In [665]:
Productlink

'https://www.amazon.in//Test-Exclusive_2020_1111-Multi-3GB-Storage/dp/B089MS8HPF?dchild=1'

In [666]:
for item in mobile[0].findAll('img'):
    Image = item['src']

In [667]:
Image

'https://m.media-amazon.com/images/I/71hEzQGO5qL._AC_UL320_.jpg'

In [688]:
Model = []
Price = []
Rating = []
Productlink = []
Imagelink =[]

In [887]:
pages = list(range(1,30))
Model = []
Price = []
Rating = []
Productlink = []
Imagelink =[]
for page in pages:
    
    req = requests.get("https://www.amazon.in/s?i=electronics&bbn=1389401031&rh=n%3A1389401031%2Cp_36%3A1318506031&dc&page="+str(page)+"&qid=1616257200&rnid=1318502031&ref=sr_pg_"+str(page))
    print(req)
    soup=BeautifulSoup(req.content,'html.parser')
    mobile= soup.findAll('div',{'class':'sg-col-4-of-12 s-result-item s-asin sg-col-4-of-16 sg-col sg-col-4-of-20'})
    for i in mobile[0:300]:
        Model.append(i.find("span",{"class":"a-size-base-plus a-color-base a-text-normal"}).text)
        #Price
        if(i.find("span",{"class":"a-offscreen"}) != None):
            Price.append(i.find("span",{"class":"a-offscreen"}).text)   
        else:
            Price.append("Null")
        #Rating    
        if(i.find("span",{"class":"a-icon-alt"}) != None):
            Rating.append(i.find("span",{"class":"a-icon-alt"}).text[0:3])   
        else:
            Rating.append("Null")
        for a_tag in i.findAll("a",{"class":"a-link-normal s-no-outline"}):
            Productlink.append("https://www.amazon.in/" + a_tag.attrs.get("href"))
        for item in i.findAll('img'):
            Imagelink.append(item['src'])

<Response [503]>
<Response [200]>
<Response [503]>
<Response [200]>
<Response [503]>
<Response [200]>
<Response [503]>
<Response [503]>
<Response [503]>
<Response [503]>
<Response [503]>
<Response [503]>
<Response [503]>
<Response [503]>
<Response [200]>
<Response [503]>
<Response [503]>
<Response [200]>
<Response [503]>
<Response [503]>
<Response [503]>
<Response [200]>
<Response [503]>
<Response [503]>
<Response [503]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [503]>

In [888]:
data= list(zip(Model,Price,Rating,Productlink,Imagelink))

In [889]:
df1 = pd.DataFrame(data,columns=["Model","Price","Rating","Productlink","Imagelink"])

In [890]:
df1

,Model,Price,Rating,Productlink,Imagelink
0,"Redmi 9 Power (Electric Green, 4GB RAM, 64GB S...","₹10,499",4.0,https://www.amazon.in//Test-Exclusive_2020_111...,https://m.media-amazon.com/images/I/71hEzQGO5q...
1,"Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128...","₹18,499",4.3,https://www.amazon.in//Samsung-Galaxy-Mirage-1...,https://m.media-amazon.com/images/I/61d-phh4Gf...
2,"Samsung Galaxy M31 (Iceberg Blue, 6GB RAM, 128...","₹16,499",4.2,https://www.amazon.in//Samsung-Galaxy-Iceberg-...,https://m.media-amazon.com/images/I/71ZsMOcpeP...
3,"Samsung Galaxy M12 (White,6GB RAM, 128GB Stora...","₹13,499",5.0,https://www.amazon.in//Samsung-Galaxy-M12-Stor...,https://m.media-amazon.com/images/I/71PVpFc7Fw...
4,"Samsung Galaxy M31s (Mirage Black, 6GB RAM, 12...","₹18,499",4.3,https://www.amazon.in//Samsung-Galaxy-Mirage-B...,https://m.media-amazon.com/images/I/71BFG8Zu7z...
...,...,...,...,...,...
211,Sony XB950B1 Extra Bass Wireless Headphones wi...,Null,4.3,https://www.amazon.in//Sony-MDR-XB950B1-Extra-...,https://m.media-amazon.com/images/I/61wvNRSOaq...
212,"Samsung Galaxy A20s (Black, 4GB RAM, 64GB Stor...","₹14,900",4.0,https://www.amazon.in//Samsung-Galaxy-Storage-...,https://m.media-amazon.com/images/I/71gyuVYDxX...
213,"Microsoft Surface Pen Tip Kit V2, 2-Pack",Null,4.7,https://www.amazon.in//Microsoft-Surface-Pen-T...,https://m.media-amazon.com/images/I/51YoCghJEy...
214,(Renewed) Samsung Galaxy A30s (Prism Crush Bla...,"₹13,990",3.8,https://www.amazon.in//Renewed-Samsung-Galaxy-...,https://m.media-amazon.com/images/I/81nfJ2jimj...
215,Vivo Y55s (Crown Gold),Null,3.9,https://www.amazon.in//Vivo-Y55s-Crown-Gold-RA...,https://m.media-amazon.com/images/I/71Y01WHXJb...

# San Fransisco weather forcasting

In [1073]:
url="https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YFb_hZ0zZdg"

In [1074]:
res=requests.get(url)
print(res)

<Response [200]>

In [1075]:
soup=BeautifulSoup(res.content,'html.parser')

In [1076]:
soup.title.text

'National Weather Service'

In [1077]:
weather= soup.findAll('li',{'class':'forecast-tombstone'})

In [1078]:
weather[0]

<li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Today<br/><br/></p>
<p><img alt="Today: Sunny, with a high near 63. West wind 6 to 14 mph, with gusts as high as 18 mph. " class="forecast-icon" src="newimages/medium/skc.png" title="Today: Sunny, with a high near 63. West wind 6 to 14 mph, with gusts as high as 18 mph. "/></p><p class="short-desc">Sunny</p><p class="temp temp-high">High: 63 °F</p></div></li>

In [1086]:
weather1= soup.findAll('div',{'class':'col-sm-10 forecast-text'})

In [1085]:
weather2= soup.findAll('div',{'class':'row row-even row-forecast'})

In [1087]:
weather1

[<div class="col-sm-10 forecast-text">Sunny, with a high near 63. West wind 6 to 14 mph, with gusts as high as 18 mph. </div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 46. West wind 8 to 14 mph. </div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 63. Northwest wind 6 to 14 mph, with gusts as high as 20 mph. </div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 47. West northwest wind 7 to 15 mph, with gusts as high as 23 mph. </div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 67. North wind 6 to 15 mph, with gusts as high as 24 mph. </div>,
 <div class="col-sm-10 forecast-text">Clear, with a low around 50.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 67.</div>,
 <div class="col-sm-10 forecast-text">Partly cloudy, with a low around 48.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 62.</div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 46.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 65.</div>,
 <div class="col-sm-10 forecast-text">Clear, with a low around 48.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 68.</div>]

In [1089]:
weather[0].find('p',{'class':'period-name'}).text

'Today'

In [1090]:
weather[0].find('p',{'class':'short-desc'}).text

'Sunny'

In [1091]:
weather[0].find('p',{'class':'temp temp-high'}).text

'High: 63 °F'

In [1092]:
weather1[0].text

'Sunny, with a high near 63. West wind 6 to 14 mph, with gusts as high as 18 mph. '

In [1099]:
Period = []
ShortDisc = []
Temperature = []
LongDisc = []

for i in weather[0:9]:
    Period.append(i.find('p',{'class':'period-name'}).text)
    ShortDisc.append(i.find('p',{'class':'short-desc'}).text)
    if(i.find('p',{'class':'temp temp-high'}) != None):
        Temperature.append(i.find('p',{'class':'temp temp-high'}).text)   
    else:
        Temperature.append(i.find('p',{'class':'temp temp-low'}).text)
        
for i in weather1[0:9]:
        LongDisc.append(i.text)

In [1100]:
data= list(zip(Period,ShortDisc,Temperature,LongDisc))

In [1101]:
df1 = pd.DataFrame(data,columns=["Period","ShortDisc","Temperature","LongDisc"])

In [1102]:
df1

,Period,ShortDisc,Temperature,LongDisc
0,Today,Sunny,High: 63 °F,"Sunny, with a high near 63. West wind 6 to 14 ..."
1,Tonight,Mostly Clear,Low: 46 °F,"Mostly clear, with a low around 46. West wind ..."
2,Monday,Sunny,High: 63 °F,"Sunny, with a high near 63. Northwest wind 6 t..."
3,MondayNight,Mostly Clear,Low: 47 °F,"Mostly clear, with a low around 47. West north..."
4,Tuesday,Sunny,High: 67 °F,"Sunny, with a high near 67. North wind 6 to 15..."
5,TuesdayNight,Clear,Low: 50 °F,"Clear, with a low around 50."
6,Wednesday,Sunny,High: 67 °F,"Sunny, with a high near 67."
7,WednesdayNight,Partly Cloudy,Low: 48 °F,"Partly cloudy, with a low around 48."
8,Thursday,Sunny,High: 62 °F,"Sunny, with a high near 62."

# Book Reviews

In [1047]:
url="https://bookpage.com/reviews"

In [1048]:
res=requests.get(url)
print(res)

<Response [200]>

In [1049]:
soup=BeautifulSoup(res.content,'html.parser')

In [1050]:
soup.title.text

'Book Reviews | BookPage'

In [1052]:
books= soup.findAll('div',{'class':'row-fluid article-row'})

In [1055]:
books[1]

<div class="row-fluid article-row">
<div class="bp-block article-info">
<div class="article-list-left">
<a href="/reviews/26014-gayle-tzemach-lemmon-daughters-kobani-history"><img alt="Medium" src="https://t1.bookpage.com/books/images/062d77690a03eab0988c407b6c399031/medium.jpg"/></a>
</div>
<div class="flex-article-content">
<h4 class="italic">
<a href="/reviews/26014-gayle-tzemach-lemmon-daughters-kobani-history">The Daughters of Kobani</a>
</h4>
<p class="sans bold">
Gayle Tzemach Lemmon
</p>
<p class="genre-links hidden-phone">
<a href="/search?book_genre=nonfiction">Nonfiction</a>
 /
<a href="/search?book_genre=history">History</a>
 /
<a href="/search?book_genre=middle_eastern_history">Middle Eastern History</a>
</p>
<p class="excerpt">
The story of how young Kurdish women brought down terrorists from the Islamic State group finally gets told in <b>The Daughters of Kobani</b>.
</p>
<div class="read-full">
<a href="/reviews/26014-gayle-tzemach-lemmon-daughters-kobani-nonfiction">Read the Review <i class="zmdi zmdi-chevron-right"></i></a>
</div>
</div>
<br class="clear"/>
</div>
</div>

In [1057]:
books[1].h4.a.text #title

'The Daughters of Kobani'

In [1061]:
books[1].find('p',{'class':'sans bold'}).text.strip("\n") #Author

'Gayle Tzemach Lemmon'

In [1063]:
books[1].find('p',{'class':'genre-links hidden-phone'}).text.strip("\n").replace("\n","") #Gener

'Nonfiction / History / Middle Eastern History'

In [1064]:
books[1].find('p',{'class':'excerpt'}).text.strip("\n")

'The story of how young Kurdish women brought down terrorists from the Islamic State group finally gets told in The Daughters of Kobani.'

In [1066]:
Title = []
Author = []
Gener = []
Review = []

for i in books[0:5]:
    Title.append(i.h4.a.text)
    Author.append(i.find('p',{'class':'sans bold'}).text.strip("\n"))
    Gener.append(i.find('p',{'class':'genre-links hidden-phone'}).text.strip("\n").replace("\n",""))   
    Review.append(i.find('p',{'class':'excerpt'}).text.strip("\n"))

In [1067]:
data= list(zip(Title,Author,Gener,Review))

In [1068]:
df1 = pd.DataFrame(data,columns=["Title","Author","Gener","Short Review"])

In [1069]:
df1

,Title,Author,Gener,Short Review
0,The One Thing You'd Save,"Linda Sue Park, Robert Sae-Heng",Children's / Middle Grade,"In The One Thing You’d Save, a teacher named M..."
1,The Daughters of Kobani,Gayle Tzemach Lemmon,Nonfiction / History / Middle Eastern History,The story of how young Kurdish women brought d...
2,The Zoologist's Guide to the Galaxy,Arik Kershenbaum,Nonfiction / Science & Nature,Zoologist Arik Kershenbaum draws on a range of...
3,Rivals,Tommy Greenwald,Children's / Middle Grade,"In Rivals, Tommy Greenwald’s second novel set ..."
4,"Brother, Sister, Mother, Explorer",Jamie Figueroa,Fiction / Literary Fiction,"Ghosts hover over Jamie Figueroa’s debut, a ly..."